.inactive,
.active {
  border-bottom: 2px solid transparent;
  padding: 0.5em 0;
  margin-bottom: -2px;
}

.inactive {
  color: var(--secondary);
}

.inactive:hover,
.active,
.active:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
  text-decoration: none;
}
